# CoFH Master AT List
# 1.10.2

public net.minecraft.block.Block field_149764_J																							# blockMaterial

public net.minecraft.client.gui.FontRenderer func_78280_d(Ljava/lang/String;I)Ljava/lang/String;										# wrapFormattedStringToWidth
public net.minecraft.client.gui.inventory.GuiContainer *																				# EVERYTHING

public net.minecraft.client.particle.ParticleFirework$Spark field_92053_aD																# hasFadeColour
public net.minecraft.client.particle.ParticleFirework$Spark field_92050_aA																# fadeColourRed
public net.minecraft.client.particle.ParticleFirework$Spark field_92051_aB																# fadeColourGreen
public net.minecraft.client.particle.ParticleFirework$Spark field_92052_aC																# fadeColourBlue
public net.minecraft.client.particle.ParticleSimpleAnimated field_187147_a																# textureIdx
public net.minecraft.client.particle.Particle field_187129_i																			# motionX
public net.minecraft.client.particle.Particle field_187130_j																			# motionY
public net.minecraft.client.particle.Particle field_187131_k																			# motionZ
public net.minecraft.client.particle.ParticlePortal <init>(Lnet/minecraft/world/World;DDDDDD)V											# ParticlePortal

public net.minecraft.client.renderer.VertexBuffer field_179010_r																		# isDrawing

public net.minecraft.entity.Entity field_70178_ae																						# isImmuneToFire
public net.minecraft.entity.Entity field_83001_bt																						# invulnerable

public net.minecraft.entity.EntityLiving field_82174_bp																					# inventoryHandsDropChances
public net.minecraft.entity.EntityLiving field_184655_bs																				# inventoryArmorDropChances
public net.minecraft.entity.EntityLivingBase field_184627_bm																			# activeItemStack

public net.minecraft.entity.item.EntityItem field_70292_b																				# age

public net.minecraft.entity.projectile.EntityFishHook *																					# EVERYTHING

public net.minecraft.inventory.Container field_94535_f																					# dragMode
public net.minecraft.inventory.Container field_94536_g																					# dragEvent
public net.minecraft.inventory.Container field_94537_h																					# dragSlots

public net.minecraft.item.ItemAxe field_150917_c																						# EFFECTIVE_ON
public net.minecraft.item.ItemPickaxe field_150915_c																					# EFFECTIVE_ON
public net.minecraft.item.ItemSpade field_150916_c																						# EFFECTIVE_ON

public net.minecraft.item.ItemBow func_185060_a(Lnet/minecraft/entity/player/EntityPlayer;)Lnet/minecraft/item/ItemStack;				# findAmmo

public net.minecraft.server.management.PlayerChunkMapEntry field_187283_c																# players
public net.minecraft.server.management.PlayerInteractionManager field_73094_o															# durabilityRemainingOnBlock
public net.minecraft.server.management.PlayerProfileCache$ProfileEntry																	# ProfileEntry
public net.minecraft.server.management.PlayerProfileCache field_152661_c																# usernameToProfileEntryMap

public net.minecraft.util.registry.RegistryNamespaced field_148759_a																	# underlyingIntegerMap
public net.minecraft.util.registry.RegistrySimple field_82596_a																			# registryObjects

public net.minecraft.world.chunk.Chunk field_76636_d																					# isChunkLoaded
public net.minecraft.world.chunk.Chunk field_150816_i																					# chunkTileEntityMap

public-f net.minecraft.entity.player.InventoryPlayer field_70462_a																		# mainInventory

public net.minecraft.nbt.NBTTagByteArray func_74734_a(Ljava/io/DataOutput;)V                                                            # write
